[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
anthropic = "*"
django = "*"
djangorestframework = "*"
langchain = "*"
langchain-core = "*"
requests = "*"
django-cors-headers = "*"
drf-spectacular = "*"
ocsf-lib = "*"

[dev-packages]

[requires]
python_version = "3.13"
